---
import '@fontsource/inter/700.css'
import Global from '@layouts/Global.astro'
---

<Global>
  <style>
    h1 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.025;
      margin: auto;
      font-size: 15rem;
      width: fit-content;
      height: fit-content;
      text-align: center;
      user-select: none;
      letter-spacing: -0.03em;
      transform: translateX(-3%);
    }
  </style>
  <h1>404</h1>
</Global>
