---
import Chat from '@components/Chat.astro'
import Logo from '@components/Logo.astro'
import Global from '@layouts/Global.astro'
---

<Global>
  <div class="logo">
    <Logo hideWordmark />
  </div>
  <Chat />
</Global>
