<style lang="scss">
  div {
    top: 2.5rem;
    left: 2.5rem;
    height: 5rem;
    width: 5rem;
    overflow: hidden;
    position: absolute;
    cursor: help;
    transform: scale(0.5);
    transform-origin: top left;
  }
</style>

<div>
  <img src="/assets/brandmark.svg" />
</div>
